In [3]:
import pandas_datareader as pdr

In [ ]:
df=pdr.get_data_tiingo('AAPL', api_key="ba88ae6ced396ce7191ed6478f1a5c554b47d062")

TypeError: concat() takes 1 positional argument but 2 were given

In [ ]:
df.head()

                                   close    high     low    open    volume  \
symbol date
AAPL   2018-03-05 00:00:00+00:00  176.82  177.74  174.52  175.21  28401366
       2018-03-06 00:00:00+00:00  176.67  178.25  176.13  177.91  23788506
       2018-03-07 00:00:00+00:00  175.03  175.85  174.27  174.94  31703462
       2018-03-08 00:00:00+00:00  176.94  177.12  175.07  175.48  23163767
       2018-03-09 00:00:00+00:00  179.98  180.00  177.39  177.96  31385134

                                   adjClose    adjHigh     adjLow    adjOpen  \
symbol date
AAPL   2018-03-05 00:00:00+00:00  42.084503  42.303470  41.537085  41.701310
       2018-03-06 00:00:00+00:00  42.048801  42.424853  41.920277  42.343931
       2018-03-07 00:00:00+00:00  41.658469  41.853635  41.477583  41.637048
       2018-03-08 00:00:00+00:00  42.113063  42.155905  41.667989  41.765572
       2018-03-09 00:00:00+00:00  42.836607  42.841367  42.220167  42.355831

                                  adjVolume  divCash  splitFactor
symbol date
AAPL   2018-03-05 00:00:00+00:00  113605464      0.0          1.0
       2018-03-06 00:00:00+00:00   95154024      0.0          1.0
       2018-03-07 00:00:00+00:00  126813848      0.0          1.0
       2018-03-08 00:00:00+00:00   92655068      0.0          1.0
       2018-03-09 00:00:00+00:00  125540536      0.0          1.0

In [ ]:
df.to_csv('AAPL.csv')

In [ ]:
df.head()

                                   close    high     low    open    volume  \
symbol date
AAPL   2018-03-05 00:00:00+00:00  176.82  177.74  174.52  175.21  28401366
       2018-03-06 00:00:00+00:00  176.67  178.25  176.13  177.91  23788506
       2018-03-07 00:00:00+00:00  175.03  175.85  174.27  174.94  31703462
       2018-03-08 00:00:00+00:00  176.94  177.12  175.07  175.48  23163767
       2018-03-09 00:00:00+00:00  179.98  180.00  177.39  177.96  31385134

                                   adjClose    adjHigh     adjLow    adjOpen  \
symbol date
AAPL   2018-03-05 00:00:00+00:00  42.084503  42.303470  41.537085  41.701310
       2018-03-06 00:00:00+00:00  42.048801  42.424853  41.920277  42.343931
       2018-03-07 00:00:00+00:00  41.658469  41.853635  41.477583  41.637048
       2018-03-08 00:00:00+00:00  42.113063  42.155905  41.667989  41.765572
       2018-03-09 00:00:00+00:00  42.836607  42.841367  42.220167  42.355831

                                  adjVolume  divCash  splitFactor
symbol date
AAPL   2018-03-05 00:00:00+00:00  113605464      0.0          1.0
       2018-03-06 00:00:00+00:00   95154024      0.0          1.0
       2018-03-07 00:00:00+00:00  126813848      0.0          1.0
       2018-03-08 00:00:00+00:00   92655068      0.0          1.0
       2018-03-09 00:00:00+00:00  125540536      0.0          1.0

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('AAPL.csv')

NameError: name 'pd' is not defined